<!DOCTYPE html>

<html lang="en" dir="ltr">


<head>
   
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>@ViewData["Title"] | Центр карьеры</title>
    @*<style>
        @import url("modules/system/system.baseee6b.css?qswum3");
        </style>
        <style>
        @import url("sites/careers.umd.edu/modules/calendar/css/calendar_multidayee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/colorbox_node/colorbox_nodeee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/date/date_api/dateee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/date/date_popup/themes/datepicker.1.7ee6b.css?qswum3");
        @import url("modules/field/theme/fieldee6b.css?qswum3");
        @import url("modules/node/nodeee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/views/css/viewsee6b.css?qswum3");
        </style>
        <style>
        @import url("sites/careers.umd.edu/modules/colorbox/styles/default/colorbox_styleee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/ctools/css/ctoolsee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/panels/css/panelsee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/video/css/videoee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/instagram_block/css/instagram-blockee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/selective_tweets/css/selective_tweetsee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/widgets/widgetsee6b.css?qswum3");
        @import url("sites/careers.umd.edu/libraries/fontawesome/css/font-awesomeee6b.css?qswum3");
        </style>
        <style>
        @import url("sites/careers.umd.edu/files/less/style.Gh1itxuqwLxsJyHgwx1k3WV5pYhuTIHfWZvIFZ1YklUee6b.css?qswum3");
        @import url("sites/careers.umd.edu/files/less/bootstrap.B7VUOFAK0z6kFyB4iCFO6bmjUcBrZ_x8MUnZagXY1-Iee6b.css?qswum3");
        @import url("sites/careers.umd.edu/themes/umdbootstrap/css/owl.carouselee6b.css?qswum3");
        @import url("sites/careers.umd.edu/themes/umdbootstrap/umdcolorbox/colorbox_umdcolorboxee6b.css?qswum3");*@

    <link rel="stylesheet" type="text/css" href="~/css/inc.css" />
    <link rel="stylesheet" type="text/css" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendor/font-awesome.min.css" />



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="html front not-logged-in no-sidebars page-node page-node- page-node-76 node-type-page">

    <header id="navbar" role="banner" class="navbar">

      
    </header>

    <div class="main-wrapper">
        @RenderBody()
    </div>

    <footer>
      
                                  
    </footer>
 
   

    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>